html
{
    scroll-behavior:smooth;
    transition: all 0.3s ease-in-out;
}


header
{
    background-image: radial-gradient(#0C75C0, #032F4E);
    border-radius: 0px 0px 200px 200px;
    height: 90vh;
    position: relative;
    top: 0;
    padding-top: 100px ;
    padding-bottom: 30px ;
}
h1
{
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    padding: 20px 0;
    text-transform: capitalize;
    font-family: 'Comfortaa', Arial;
}
.head1
{
    display: block;
    margin: auto;
}
.mo
{

    color: rgb(37, 36, 36);
    font-size: 45px !important;
    font-weight: 400;
    padding: 20px 0;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Comfortaa', Arial;
}
.phead
{
    color: rgb(155, 153, 153);
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
}

.nav,.nav2
{
    display: block;
    margin: auto;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}

.navvo2 {
    backdrop-filter: blur(12px);
    background-color: rgb(12 99 161 / 70%) !important;
    top: 15px !important;
    box-shadow: 0.5px 0.5px 15px 8px #032f4e !important;
    width: 80%;
    margin: auto;
    border-radius: 0 20px;
    color: #fff !important;
    padding: 10px;
    position: fixed;
    z-index: 99999;
    transition: all .5s ease-in-out;
}
.navvo{
    background-color: #ffffff10 !important;
    backdrop-filter: blur(12px);
    width: 80%;
    margin: auto;
    top: 40px;
    border-radius: 0 20px;
    color: #fff !important;
    padding: 10px;
    box-shadow: 0.5px 0.5px 10px 0.5px #bebebe;
    position: fixed;
    z-index: 99999;
    transition: all .5s ease-in-out;
}

.navbar-nav li a{
    color: #fff !important;
    display: inline-block;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: 'Comfortaa', Arial !important;
    transition: color .5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-nav > li > .active::before {
    position: absolute;
    content: "";
    top: 100%;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
#navbarSupportedContent
{
margin-left: 30px;
}


.navbar-collapse
{
    display: flex;
    justify-content: center;
}
.content
{
    padding-top: 110px;
}
.cont1
{
    font-size: 19px;
    font-weight: 500;
    color: #ccc;
    align-items: center;
    text-align: center;
}
.btn
{
    display: block;
    margin: auto;
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #3f00b5);
    padding: 1em 2em; 
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    cursor: pointer ;
    margin-top: 20px;
    margin-bottom: 50px;

}
.park
{
    font-size: 7px;
    color: rgb(123, 122, 122);
}
.ank:hover
{
    text-decoration: none;
}
.btn a
{

    text-decoration: none;
    color: #fff;
}
.btn:hover {
    color: #ffffff;
    background: linear-gradient(to left ,#27c8b7,#9f69fe, #27c8b7);
    transform: scale(1.1,1.1);
    transition: all 0.3s ease-in-out;
  
    text-decoration: none;
}
.image,.content,.content2
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card:hover
{
    box-shadow: 20px 20px 50px rgb(112, 112, 112)!important;
    transition-duration: 2s;
    cursor:grab;
}
.card
{
    margin: 30px;
    border-radius: 20px;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

}
video
{
    border-radius:20px 0px; 
}

i:hover
{
    color: #0C75C0;
}
.icons
{
    padding-top: 5px;
    padding-left: 30px;
}
.card-text1
{
    font-family: sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-size: 11px;
    color: rgb(139, 139, 140);
}
.card-text2
{
    font-family: sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 20px;
    padding:7px 0px;
    margin-bottom: 0;
    color: rgb(45, 44, 44);
    
}
.fa-download
{
    display: flex;
    float: right;
    color: black;
    font-size: 15px;
    padding-top: 2px;
}
.card-text3
{
    font-family: sans-serif;
    font-weight: 200;
    text-transform: capitalize;
    font-size: 15px;
    color: rgb(85, 85, 85);

}


@media(max-width:1200px)
{
      .card,.video
      {
          max-width: 100%;
      }
      .card-body
      {
          max-width: 100%;
      }
      .card-text1
      {
          font-size: 11px;
      }
      .card-text2
      {
          font-size: 15px;
      }

};
@media(max-width:1132px)
{
    .navbar-brand img
    {
        max-width: 200%;
    }
}

@media(max-width:992px)
{
   header
   {
       height: 170vh;
   }
 
   .image
   {
       max-width: 100%;
   }
   .mo
   {
       font-size: 35px !important;
   }
   .phead
   {
       font-size: 17px !important;
   }
   .content h1
   {
       text-align: center;
   }
}

@media(max-width:767px)
{
   
    .card
    {
        margin-bottom: 3px;
    }
    .fa-download
    {
        font-size: 20px;
        margin-left: 20px;
    }
    .first
    {
        margin-bottom: 30px;
    }
    .col-lg-4
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-brand img
    {
        max-width: 150px !important;

    }
}
@media(max-width:450px)
{
    header
    {
        height: 120vh;
    }
}